<h2>Display Name</h2>
TODO

<h2>Username</h2>
TODO

<h2>Tagline</h2>
TODO

<h2>Avatar Selection</h2>
{{#each avatars as |avatar|}}
  <img src="{{avatar}}" class="settings-avatar" />
{{/each}}

<h2>Linked Accounts</h2>
<p>TODO: OAuthProvider with status and check box for public link.</p>

<h2>Uploaded Images</h2>
TODO

<h2>Email</h2>
TODO

<h2>Arimaa Preferences</h2>
TODO

