<span class="idea-setting">
{{fa-icon toggle click=(action "toggleShowCompleted") title=showCompletedText}}
</span>
<span class="idea-setting">
  {{#link-to 'ideas'}}All Ideas{{/link-to}}
</span>
<span class="idea-setting">
  {{#link-to 'ideas-calendar' 'today'}}Calendar{{/link-to}}
</span>
<span class="idea-setting">
  {{#link-to 'ideas-search'}}Search{{/link-to}}
</span>


