<form>
  <div>
    <label>Email:</label>
    {{input value=email}}
    <label>Message:</label>
    {{textarea value=message}}
  </div>
  <button type="submit" {{action "share"}}>Share</button>
</form>
