<img src="{{coder.avatar}}" />

<div class="coder-info">
  <h2>{{coder.display}}</h2>

  <h3>Tagline</h3>
  <p>ReferenceError: tagline is not defined</p>
</div>

{{#each activity as |action|}}
  <div>Action</div>
{{/each}}

