{{#link-to 'post' post}}
<img class="thumb" src="{{post.image}}">
{{/link-to}}
<div class="description">
  {{#link-to 'post' post}}
  <h2>{{post.title}}</h2>
  {{/link-to}}
  <p>{{post.posted}}</p>
  <p>{{post.author.display}}</p>
</div>
