$fekete: #000;
$szurke: #ddd;
$blue: #6af;
$glow: #ff8;
$column-width: 800px;
$piece_size: 40px;

html, body, div, img {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.red { color: #e00; }
.yellow { color: #ee0; }
.orange { color: #f60; }
.green { color: #0e0; }
.blue { color: #00e; }

a {
  text-decoration: none;
  color: $fekete;
  outline: 0;
}

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: $blue;
  padding: 20px;
  .title {
    margin: 36px;
    font-size: 1.75em;
    display: inline;
  }
  .tagline { white-space: nowrap; }
  .logo {
    width:  250px;
    height: 250px;
    background: url('/images/logo.png') 0% 0%;
    background-size: cover;
    transition: transform 0.5s;
  }
}

header:hover {
  .logo {
    background: url(/images/logo.png) 0% 100%;
    background-size: cover;
    transform: rotate(-45deg);
  }
  .hat { color: #fff; }
}

header.small {
  padding: 5px;
  .logo {
    width: 30px;
    height: 30px;
  }
  .title {
    margin: 0px 20px;
    font-size: 1em;
  }
  h1 { margin: 0px; }
  .tagline { display: none; }
}

toolbar {
  background-color: $szurke;
  height: 40px;
}

.item {
  float: right;
  a {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding: 0px 15px;
    background-color: $blue;
    cursor: pointer;
  }
  a:hover { background-color: $glow; }
  img { height: 40px; }
}

@mixin whatform {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: #fff;
  border: 1px solid $fekete;
  padding: 5px;
  margin-bottom: 10px;
  @at-root:focus { border-color: $blue; }
}

form {
  textarea { @include whatform; }
  input    { @include whatform; }
}

.comment-form {
  padding: 10px 0px;
}

.center-column {
  flex: 1;
  margin: 0px auto;
  max-width: $column-width;
  
  .center { text-align: center; }
}

.view-post {
  .cover {
    width: 100%;
    background-color: $blue;
  }
  .content {
    font-size: 1.4em;
    a { color: #17f; }
    p { min-width: 200px; }
    h1, h2, h3, h4 { clear: both; }
    a:hover {
      color: $blue;
    }
  }
}

.comments {
  display: flex;
  flex-flow: column;
}

.comment {
  background-color: $szurke;
  width: 100%;
  margin: 5px 0px;
  display: flex;
  .avatar {
    width: 80px;
    height: 80px;
    margin: 5px;
  }
  .right-side {
    padding: 5px;
    width: 100%;
  }
  .content {
    padding: 8px;
    a { color: #17f; }
  }
}

.summary {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0px;
  background-color: $szurke;
  width: 100%;
  .thumb {
    height: 250px;
    width: 100%;
    margin: 5px;
    object-fit: cover;
    background-color: $blue;
  }
  .description {
    padding: 5px;
    text-align: left;
  }
}

.summary:hover {
  background-color: $glow;
}

@media (min-width: $column-width) {
  .summary .thumb { width: 250px; }
  .center-column { width: 100%; }
}

footer {
  background-color: $fekete;
  padding: 20px;
  a { color: $szurke; }
}

.clear {
  clear: both;
}

.auth-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding: 150px 0px;
  a {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
    cursor: pointer;
    font-size: 5em;
  }
  a:hover { background-color: $glow; }
}

.youtube-video {
  width: 100%;
  display: inline-block;
  padding-bottom: percentage(9/16);
  height: 0;
  overflow: hidden;
  position: relative;
  background-color: $blue;
}

.youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.arimaa-position {
  float: none;
  background-color: #bbb;
  margin: 5px;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #aaa;
  width: 8 * $piece_size + 27px;
}

.arimaa-position .color-wrapper {
  padding: 6px;
  width: 8 * $piece_size + 15;
}

.arimaa-position.gold .color-wrapper { background-color: #db6; }
.arimaa-position.silver .color-wrapper { background-color: #99c; }
.arimaa-position.vector.gold .color-wrapper { background-color: #fff; }
.arimaa-position.vector.silver .color-wrapper { background-color: #000; }
.arimaa-position.left { float: left; }
.arimaa-position.right { float: right; }

@media screen and (max-width: 8 * $piece_size + 215px) {
  .arimaa-position.left { float: none; }
  .arimaa-position.right { float: none; }
  .arimaa-position {
    margin: 5px auto;
  }
}

.arimaa-position-inner {
  background-color: #ddd;
  background-image: url(/images/arimaa/classic/board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8 * $piece_size + 15;
  height: 8 * $piece_size + 15;
}

.arimaa-position .arimaa-position-inner:hover {
  background-image: url(/images/arimaa/classic/board-traps.jpg);
}

.arimaa-position.vector .arimaa-position-inner {
  background-image: url(/images/arimaa/vector/board.svg);
}

.arimaa-position.vector .arimaa-position-inner:hover {
  background-image: url(/images/arimaa/vector/board.svg);
}

.arimaa-position-caption {
  background-color: #ddd;
  margin: 4px;
  padding: 4px;
  font-size: 75%;
  p { margin: 0px; }
}

.arimaa-piece {
  width: $piece_size;
  height: $piece_size;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: margin 0.2s, transform 0.2s;
  z-index: 30;
}

.arimaa-piece:hover {
  transform: scale(1.15, 1.15);
}

.arimaa-position {
  .gelephant { background-image: url('/images/arimaa/classic/gelephant.png'); }
  .gcamel    { background-image: url('/images/arimaa/classic/gcamel.png'); }
  .ghorse    { background-image: url('/images/arimaa/classic/ghorse.png'); }
  .gdog      { background-image: url('/images/arimaa/classic/gdog.png'); }
  .gcat      { background-image: url('/images/arimaa/classic/gcat.png'); }
  .grabbit   { background-image: url('/images/arimaa/classic/grabbit.png'); }
  .selephant { background-image: url('/images/arimaa/classic/selephant.png'); }
  .scamel    { background-image: url('/images/arimaa/classic/scamel.png'); }
  .shorse    { background-image: url('/images/arimaa/classic/shorse.png'); }
  .sdog      { background-image: url('/images/arimaa/classic/sdog.png'); }
  .scat      { background-image: url('/images/arimaa/classic/scat.png'); }
  .srabbit   { background-image: url('/images/arimaa/classic/srabbit.png'); }
}

.arimaa-position.vector {
  .gelephant { background-image: url('/images/arimaa/vector/w-elephant.svg'); }
  .gcamel    { background-image: url('/images/arimaa/vector/w-camel.svg'); }
  .ghorse    { background-image: url('/images/arimaa/vector/w-horse.svg'); }
  .gdog      { background-image: url('/images/arimaa/vector/w-dog.svg'); }
  .gcat      { background-image: url('/images/arimaa/vector/w-cat.svg'); }
  .grabbit   { background-image: url('/images/arimaa/vector/w-rabbit.svg'); }
  .selephant { background-image: url('/images/arimaa/vector/b-elephant.svg'); }
  .scamel    { background-image: url('/images/arimaa/vector/b-camel.svg'); }
  .shorse    { background-image: url('/images/arimaa/vector/b-horse.svg'); }
  .sdog      { background-image: url('/images/arimaa/vector/b-dog.svg'); }
  .scat      { background-image: url('/images/arimaa/vector/b-cat.svg'); }
  .srabbit   { background-image: url('/images/arimaa/vector/b-rabbit.svg'); }
}

.add-idea {
  i.fa {
    font-size: 2em;
    cursor: pointer;
    padding: 4px;
  }
  i.fa:hover {
    text-shadow: 0px 0px 5px #111;
  }
}

.add-idea.indented {
  margin-left: 30px;
}

.view-idea {
  padding: 1px;
  .top-line {
    background-color: #eee;
  }
  .title {
    font-weight: bold;
  }
  .body {
    margin-left: 50px;
  }
  i.fa {
    cursor: pointer;
    font-size: 1.5em;
    padding: 4px;
  }
  i.fa-bars {
    cursor: grab;
  }
  i.float-right {
    float: right;
  }
  i.fa:hover {
    text-shadow: 0px 0px 5px #111;
  }
  a { color: #006; }
  a:hover {
    color: $blue;
  }
}

.view-idea.indented {
  margin-left: 30px;
}

.view-idea.important > .top-line {
  background-color: #fca;
}

.view-idea.completed > .top-line {
  background-color: #dfd;
}

.idea-settings {
  padding: 5px;
  background-color: #eee;
  i.fa {
    cursor: pointer;
    font-size: 1.5em;
    padding: 4px;
  }
  i.fa:hover {
    text-shadow: 0px 0px 5px #111;
  }
}

img[alt=width100] {
  width: 100px;
}

